.toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;

    // display as flex to center texts
    align-items: center;
    display: flex;
    transition: all .1s;
    width: fit-content;
    margin: 0 auto;

    @media only screen and (max-width: $bp-medium){
        width: fit-content;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    &:hover{
        border-bottom: 1px solid #fff;
    }

    &-span{
        color: white;
        margin-right: .7rem;

        @media only screen and (max-width: $bp-medium){
            color: $heading-blue;
        }
    }
}

.btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    height: 4rem;
    padding: 1rem 2rem;

    @media only screen and (max-width: $bp-large){
        padding: 0;
    }
}

.btn-login {
    color: $white;
    margin-right: 2rem;

    @media only screen and (max-width: $bp-medium){
        margin: 0 auto 2rem;
        font-weight: 700;
        width: fit-content;
        color: $heading-blue;
        display: block;
    }
}

.btn-white {
    background-color: $white;
    border-radius: 2rem;
    color: $light-red;
    
    width: 12rem;
    transition: all .1s;
}

.btn-white:hover {
    background-color: $very-light-red;
    color: $white;
}

.btn-orange {
    @media only screen and (max-width: $bp-medium){
        color: #fff;
        background-color: transparent;
        background-image: linear-gradient(to right, $very-light-red, $light-red);
    }
}

.btn-outline {
    border: 1px solid $white;
    border-radius: 2rem;
    color: $white;
    margin-left: 2rem;
    width: 12rem;
    transition: all .1s;
}

.btn-outline:hover {
    background-color: $white;
    color: $very-light-red;
}
