/* Color variables declarations */
$cta-text: #ff525d;
$cta-hover-background: #ff7a85;
$heading-blue: #1f3f5b;

/* ### Neutral */

$white: #ffffff;
$footer-text: #c8c8cb;
$very-dark-gray: #4b5862;
$very-dark-black: #25252d;

/* ### Gradient */

/* Background gradient - Intro/CTA mobile nav: */

$very-light-red: #ff8f70;
$light-red: #ff3d54;

/* Background gradient - body: */

$very-dark-gray-blue: #2c2d3f;
$very-dark-desaturated: #3f4164;

// Media breakpoints

$bp-largest: 1200px;
$bp-large: 1000px;
$bp-medium: 800px;
$bp-small: 599px;
